 <nz-breadcrumb >
    <nz-breadcrumb-item>
    <a href="javascript:;" [routerLink]="['/admin/insurance-management']" >保险管理 </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>保险产品</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="wrapper">
	<div class="row">
		<div class="col-md-12 wrapperTitle">基础信息</div>
		<div class="col-md-12">
			<div class="col-md-12 form-horizontal" >
				<div class="form-group col-md-6">
					<label for="" class="text-danger col-md-6 control-label">保险公司:</label>
					<div class="col-md-6">
						<select name="select" id="insurers" class="form-control" (change)="insurers_()"  [(ngModel)]='insurers_name'>
							<option *ngFor='let item of insurers' [value]='item[0]'>{{item[1]}}</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="" class="text-danger col-md-6 control-label">险种类型:</label>
					<div class="col-md-6">
						<select name="select" id="category_type" class="form-control"  [(ngModel)]='category_type_select' (change)="changeCategory_type($event)">
							<option *ngFor='let item of category_type' [value]='item[0]'>{{item[1]}}</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="" class="text-danger col-md-6 control-label">险种:</label>
					<div class="col-md-6">
						<select name="select" id="category_type" class="form-control"  [(ngModel)]='category_select' >
							<option *ngFor='let item of category_' [value]='item[0]'>{{item[1]}}</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="" class="text-danger col-md-6 control-label">状态:</label>
					<div class="col-md-6">
						<select name="select"  class="form-control"  [(ngModel)]='state_select' >
							<option value="0">停售</option>
							<option value="1">在售</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="" class="text-danger col-md-6 control-label">支付方式:</label>
					<div class="col-md-6">
						<select name="select" id="payment_method" class="form-control"  [(ngModel)]='payment_method_select'>
							<option *ngFor='let item of payment_method' [value]='item[0]'>{{item[1]}}</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="" class="text-danger col-md-6 control-label">消费型或储蓄型:</label>
					<div class="col-md-6">
						<select name="select" id="payment_method" class="form-control" [(ngModel)]='policy_pattern_select'>
							<option *ngFor='let item of policy_pattern' [value]='item[0]'>{{item[1]}}</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="" class="text-danger col-md-6 control-label">定期型或终身型:</label>
					<div class="col-md-6">
						<select name="select" id="payment_method" class="form-control" [(ngModel)]='guarantee_pattern_select'>
							<option *ngFor='let item of guarantee_pattern' [value]='item[0]'>{{item[1]}}</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-12">
					<label for="" class="text-danger col-md-3 control-label">选择产品:</label>
					<div class="col-md-9">
						<nz-select nzAllowClear [nzPlaceHolder]="'选择产品'" [(ngModel)]="brother_id" [nzShowSearch]="true" style="width: 510px;">
					      <nz-option *ngFor="let option of product_list" [nzLabel]="option.val" [nzValue]="option.id"> </nz-option>
					    </nz-select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div  class="col-md-12 wrapperTitle">保险信息</div>
		<div class="col-md-12">
			<div class="col-md-12 form-horizontal" >
				<div class="form-group col-md-6">
					<label for="" class="text-danger col-md-6 control-label">名称:</label>
					<div class="col-md-6">
						<input type="text" class="form-control"  [(ngModel)]="insurname" >
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="" class="text-danger col-md-6 control-label">评分:</label>
					<div class="col-md-6">
						<input type="number" class="form-control"  [(ngModel)]="score" >
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-bottom:20px">
		<div  class="col-md-12 wrapperTitle">详情描述</div>
		<div class="col-md-12">
		    <ckeditor [(ngModel)]="info"  #myckeditor [config]="ckeConfig" debounce="500" (change)="editonContentChange($event)">
	    	</ckeditor>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-primary" (click)=' sign == "add" ?  submit_1() : submit_2()'>保存</button>
		</div>
	</div>
</div>