<nz-breadcrumb >
   <nz-breadcrumb-item>设置</nz-breadcrumb-item>
   <nz-breadcrumb-item>个人设置</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="row">
	<div class="col-md-12" style="padding:30px">
		<div class="col-md-4 form-horizontal">
			<div class="form-group">
				<label for="" class="text-danger col-md-3 control-label">现有密码:</label>
				<div class="col-md-9">
					<input type="text" class="form-control" name="comp_name" [(ngModel)]='now_password' placeholder="请输入现有密码">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="text-danger col-md-3 control-label">新密码:</label>
				<div class="col-md-9">
					<input type="text" class="form-control" name="comp_name" [(ngModel)]='new_password'>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="text-danger col-md-3 control-label">确认密码:</label>
				<div class="col-md-9">
					<input type="text" class="form-control" name="comp_name" [(ngModel)]='confirm_password'>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-9">
					<button class="btn btn-primary" (click)="submit_1()">保存</button>
				</div>
			</div>
		</div>
	</div>
</div>